Repository myConsciousness/nasa-api, changes with the labels that .github/labeler.yml gives for each.
All labels: core, service/APOD, test

docs: fixed document
  README.md
Labels: none

add logo
  README.md
Labels: none

add changelog
  CHANGELOG.md
Labels: none

renamed
  .github/ISSUE_TEMPLATE/00_bug.md
  .github/ISSUE_TEMPLATE/01_feature.md
  .github/ISSUE_TEMPLATE/02_improvement.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  STYLEGUIDE.md
  example/example.dart
  lib/nasa.dart
  lib/nasa_api.dart
  lib/src/core/config/retry_config.dart
  lib/src/nasa_api.dart
  pubspec.yaml
  test/mock/mock.dart
  test/mock/mock.mocks.dart
  test/src/core/client/retry_policy_test.dart
  test/src/core/config/retry_config_test.dart
  test/src/core/http_method_test.dart
  test/src/core/http_status_test.dart
  test/src/service/apod/apod_service_test.dart
Labels: core, test

fix: fixed for the issue (#2)
  CHANGELOG.md
  lib/src/service/apod/apod_data.dart
  lib/src/service/apod/apod_data.freezed.dart
  lib/src/service/apod/apod_data.g.dart
  pubspec.yaml
Labels: service/APOD

Create label.yml
  .github/workflows/label.yml
Labels: none

Create release.yml
  .github/workflows/release.yml
Labels: none

Create stale.yml
  .github/workflows/stale.yml
Labels: none

Create upgrade_dependencies.yml
  .github/workflows/upgrade_dependencies.yml
Labels: none

Create greetings.yml
  .github/workflows/greetings.yml
Labels: none

Create analyzer.yml
  .github/workflows/analyzer.yml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: none

fix: fixed `hdurl` to nullable.
  CHANGELOG.md
  lib/src/service/apod/apod_data.dart
  lib/src/service/apod/apod_data.freezed.dart
  lib/src/service/apod/apod_data.g.dart
  pubspec.yaml
Labels: service/APOD

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: none

bump up
  CHANGELOG.md
  lib/src/service/apod/apod_service.dart
  pubspec.yaml
Labels: service/APOD

bump up
  pubspec.yaml
Labels: none

.github/labeler.yml:

core:
- lib/src/core/**/*.dart

service/APOD:
- lib/src/service/apod/*.dart

test:
- test/**/*.dart
